.landing {
  position: relative;
  box-shadow: 0 0px 300px var(--color-primary-transparent);
}

.landing img {
  background-size: cover;
  width: 100%;
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-darkest-transparent);
}

.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-light);
}

.landing .fa-angle-left {
  left: 30px;
}

.landing .fa-angle-right {
  right: 30px;
}

/* Media */
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}