.navbar {
  position: fixed;
  background-color: var(--color-primary);
  height: 80px;
  width: 100%;
  z-index: 2;
  border-bottom: 5px solid var(--color-darkest);
  font-size: 20px;
  box-shadow: 0 0px 300px var(--color-primary-transparent);
}
.navbar .navbar-nav {
  padding: 0px 30px;
  background-color: var(--color-primary);
}
.navbar img {
  height: 50px;
  padding: 0px 20px;
}
