.price {
  padding-top: var(--padding-primary);
  padding-bottom: var(--padding-primary);
  position: relative;
}
.price .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}