:root{
  --color-darkest: rgb(46, 46, 46);
  --color-darkest-transparent: rgba(0, 0, 0, 0.527);
  --color-light: rgb(226, 226, 226);
  --color-primary: #fae4cb;;
  --color-primary-transparent: rgba(253, 178, 79, 0.678);
  --color-container: rgb(25, 25, 25);

  --color-bg-body: var(--color-light);

  --distance-primary: 50px;
  --padding-primary: var(--distance-primary);
  --margin-primary: var(--distance-primary);
  --main-transition: 1s;
  --border-radius-primary: calc(var(--distance-primary) / 2);

  --fout-family-primary: 'Poppins', sans-serif;
  --fout-weight-bold: 900;
  --fout-weight-normal: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

body{
  background-color: var(--color-bg-body);
  font-size: var(--fout-family-primary);
}
body ul{
  list-style: none;
}
body a{
  text-decoration: none ;
}
